venv/
.ipynb_checkpoints/
cifar-10-batches-py/
CI_hw1.zip
cifar-10-python.tar.gz
KNN_MatinHosseinianFard_993112039.zip
LinearRegression_MatinHosseinianFard_993112039.zip
LogisticRegression_MatinHosseinianFard_993112039.zip
AHW3_MatinHosseinianFard_993112039.pdf
AHW3.docx
AHW4_CNNProject_MatinHosseinanFard_993112039.zip
CNNReport.docx
data/